/* body {
   font-family: Helvetica, Arial, sans-serif;
}
ul {
   list-style: none;
}
a {
   color: #a369d5;
   text-decoration: none;
   border-bottom: 1px dotted #a369d5;
}
.pictures {
   margin: 10px auto;
   width: 900px;
}
margin-top: 10px;
margin-bottom: 10px;
margin-right: auto;
margin-left: auto;
#logo {
   margin: 0 auto 30px;
   width: 200px;
}
.pictures li {
   display: inline;
   margin: 3px;
}*/